@model List<Student>
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row ">
            <!--begin::Content-->
            <!--begin::Card-->
            <div class="card card-custom card-stretch col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                           
                            <th scope="col">Kimlik No</th>
                            <th scope="col">Student Number</th>
                            <th scope="col">İsim</th>
                            <th scope="col">Soyisim</th>
                            <th scope="col">Adres</th>
                            <th scope="col">Telefon Numarası</th>
                            <th scope="col">Email</th>
                            <th scope="col">Bölüm</th>
                            <th scope="col">Kan Grubu</th>
                            <th scope="col">Doğum Tarihi</th>
                            <th scope="col">HES Kodu</th>
                            <th scope="col">Düzenle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                           
                        <tr>
                            
                            <td>@item.IdentityNumber</td>
                            <td>@item.StudentNumber</td>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Department</td>
                            <td>@item.BloodType</td>
                            <td>@item.BirthDate.ToShortDateString()</td>
                            <td>@item.HesCode</td>
                            <td>
                                <a asp-controller="Student" asp-action="UpdateStudent" asp-route-id="@item.Id" class="label label-inline label-light-warning font-weight-bold cursor-pointer">
                                    Düzenle
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@item.Id" class="label label-inline label-light-danger font-weight-bold cursor-pointer">
                                    Sil
                                </a>
                            </td>
                        </tr>
                            

                        }

                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
